JWT_SECRET_KEY=123 
JWT_SECRET=123
JWT_EXPIRES_IN=12h  
GOOGLE_CLIENT_ID=googleclientid
GOOGLE_CLIENT_SECRET=googleclientsecret
GOOGLE_REDIRECT_URL=http://localhost:3000/auth/google/callback



DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=dbusername
DB_PASSWORD=dbpassword
DB_DATABASE=dbname


DB_SYNCHRONIZE=true


EMAIL_USER=email
EMAIL_PASS=securepassword
CLIENT_URL=http://localhost:3000

GROQ_API_KEY=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
